<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qccr.fcustomer.dal.mapper.BankCardMapper" >
  <resultMap id="BaseResultMap" type="com.qccr.fcustomer.dal.model.BankCard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="bank_no" property="bankNo" jdbcType="VARCHAR" />
    <result column="card_owner" property="cardOwner" jdbcType="VARCHAR" />
    <result column="card_bank" property="cardBank" jdbcType="VARCHAR" />
    <result column="card_mobile" property="cardMobile" jdbcType="VARCHAR" />
    <result column="validated" property="validated" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, card_no, bank_no, card_owner, card_bank, card_mobile, validated, create_time, 
    create_person, update_time, update_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fc_bank_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fc_bank_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qccr.fcustomer.dal.model.BankCard" useGeneratedKeys="true" keyProperty="id" >
    insert into fc_bank_card (card_no, bank_no, card_owner, 
      card_bank, card_mobile, validated, 
      create_time, create_person, update_time, 
      update_person)
    values (#{cardNo,jdbcType=VARCHAR}, #{bankNo,jdbcType=VARCHAR}, #{cardOwner,jdbcType=VARCHAR}, 
      #{cardBank,jdbcType=VARCHAR}, #{cardMobile,jdbcType=VARCHAR}, #{validated,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qccr.fcustomer.dal.model.BankCard" useGeneratedKeys="true" keyProperty="id" >
    insert into fc_bank_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="bankNo != null" >
        bank_no,
      </if>
      <if test="cardOwner != null" >
        card_owner,
      </if>
      <if test="cardBank != null" >
        card_bank,
      </if>
      <if test="cardMobile != null" >
        card_mobile,
      </if>
      <if test="validated != null" >
        validated,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="cardOwner != null" >
        #{cardOwner,jdbcType=VARCHAR},
      </if>
      <if test="cardBank != null" >
        #{cardBank,jdbcType=VARCHAR},
      </if>
      <if test="cardMobile != null" >
        #{cardMobile,jdbcType=VARCHAR},
      </if>
      <if test="validated != null" >
        #{validated,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qccr.fcustomer.dal.model.BankCard" >
    update fc_bank_card
    <set >
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        bank_no = #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="cardOwner != null" >
        card_owner = #{cardOwner,jdbcType=VARCHAR},
      </if>
      <if test="cardBank != null" >
        card_bank = #{cardBank,jdbcType=VARCHAR},
      </if>
      <if test="cardMobile != null" >
        card_mobile = #{cardMobile,jdbcType=VARCHAR},
      </if>
      <if test="validated != null" >
        validated = #{validated,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qccr.fcustomer.dal.model.BankCard" >
    update fc_bank_card
    set card_no = #{cardNo,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      card_owner = #{cardOwner,jdbcType=VARCHAR},
      card_bank = #{cardBank,jdbcType=VARCHAR},
      card_mobile = #{cardMobile,jdbcType=VARCHAR},
      validated = #{validated,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByCardNoAndBankNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from fc_bank_card
    where card_no = #{cardNo,jdbcType=VARCHAR} and bank_no = #{bankNo,jdbcType=VARCHAR}
  </select>
</mapper>