<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qccr.fcustomer.dal.mapper.IndividualInfoMapper" >
  <resultMap id="BaseResultMap" type="com.qccr.fcustomer.dal.model.IndividualInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="id_card_no" property="idCardNo" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="biz_user_id" property="bizUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, id_card_no, legal_name, mobile, biz_user_id, create_time, create_person, update_time, 
    update_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fc_individual
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fc_individual
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qccr.fcustomer.dal.model.IndividualInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into fc_individual (id_card_no, legal_name, mobile, 
      biz_user_id, create_time, create_person, 
      update_time, update_person)
    values (#{idCardNo,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{bizUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qccr.fcustomer.dal.model.IndividualInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into fc_individual
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idCardNo != null" >
        id_card_no,
      </if>
      <if test="legalName != null" >
        legal_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="bizUserId != null" >
        biz_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="bizUserId != null" >
        #{bizUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qccr.fcustomer.dal.model.IndividualInfo" >
    update fc_individual
    <set >
      <if test="idCardNo != null" >
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        legal_name = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="bizUserId != null" >
        biz_user_id = #{bizUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qccr.fcustomer.dal.model.IndividualInfo" >
    update fc_individual
    set id_card_no = #{idCardNo,jdbcType=VARCHAR},
      legal_name = #{legalName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      biz_user_id = #{bizUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByBizId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from fc_individual
    where biz_user_id = #{bizUserId,jdbcType=BIGINT}
  </select>
</mapper>